# dotenv environment variables file
.env
.env.test
# Local Netlify folder
.netlify
.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
components.d.ts
auto-imports.d.ts
shiki-themes/hidden-themes